@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <a asp-area="" asp-controller="User" asp-action="Index" class="btn btn-warning btn-lg">NIE KLIKAJ TU</a>
    </div>
</div>
